@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-kato-bg: #F8F5F0;
  --color-kato-brown: #3E2723;
  --color-kato-tan: #D7C4A3;
  --color-kato-dark-brown: #2D1A11;
}

body {
    background-color: var(--color-kato-bg);
    color: var(--color-kato-brown);
}
